html,
body,
#root {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

/* disable scrolling in root div, but allow in sub div */
#right-contents {
  overflow: hidden;
}

/* Hide Scroll Bar */
/* Chrome*/
body::-webkit-scrollbar,
div::-webkit-scrollbar {
  display: none;
}
/* IE*/
body,
div {
  -ms-overflow-style: none;
}

/* Column flex center div */
#news_list,
#search_div,
#content_div,
.news_items,
#nav_content,
#nav_title,
#nav_bar {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

/* Row flex center div */
#search_bar,
#search_icon,
.item_row {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
}

div.side-bar-content {
  height: 100%;
}
